/* @import './base.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*sorgt dafür, dass Padding und Border zur Gesamtbreite des Elements zählen.*/
}

.header--container{
  background-color: green;
  padding: 1em 10em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header--content{
}

.info-box--wrapper{
  margin: 1em;
  width: 30em;
  border-radius: 1em;
  background-color: darkgrey;
}

.info-box--headline{
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

.info-box--body{
  padding: 1em 2em;
}