<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Benutzer bearbeiten</h1>

    <table>
        <tr>
            <td>Name</td>
            <td>
                <label for="name"></label>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>Digitalpostanschrift</td>
            <td>
                <label for="anschrift"></label>
                <input type="text" name="anschrift">
            </td>
        </tr>
        <tr>
            <td>Vegetarizität</td>
            <td>
                <input type="radio" name="unvegetarisch" value=0>
                <input type="radio" name="vegetarisch" value=1>
                <input type="radio" name="vegan" value=2>
            </td>
        </tr>
        <tr>
            <td>Rolle</td>
            <td>
                <select name="rolle" id="">
                    <option value="ADMIN">ADMIN</option>
                    <option value="KUNDE">KUNDE</option>
                    <option value="GESPERRT">GESPERRT</option>
                </select>
            </td>
        </tr>
        <tr>
            
            <td>Losung</td>
            <td>
                <label for="losung"></label>
                <input type="password" name="losung">
            </td>
        </tr>
        <tr>
            <td>Losung(Wiederh.)</td>
            <td>
                <label for="losungWiederh"></label>
                <input type="password" name="losungWiederh">
            </td>
        </tr>
    </table>
    
</body>
</html>