<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Fragments</title>
</head>
<body>

    <header th:fragment="kopf">
        <div class="header-container">
            <div class="header-logo">

            </div>
            <div class="header-languages">
                <a href="/benutzer">Benutzer</a>
                <a th:href="@{?sprache=de}">DE</a>
                <a th:href="@{?sprache=en}">EN</a>
                <a th:href="@{?sprache=nl}">NL</a> 
                <!--erzeug Link zur aktuellen URL und ergänzt sprache=de als Query Parameter. z.b.Benutzer/nane?sprache=de-->
            </div>
        </div>
        
    </header>

    <div th:fragment="fuss">
        <div class="footer-container">
            <p>Hier könnte Ihre Werbung stehen...</p>
            <p>Benutzer auch über /benutzer/suche?loginname=verena suchbar</p>
        </div>
    </div>
    
</body>
</html>