*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.content-container{
    padding: 4em 5em;
}

.errorText{
    font-size: 12px;
    color: red;
}

.errorBorder{
    border: 2px solid red;
}

.blue-background{
    background-color: lightblue;
}

.header-container{
    padding: 0 5em;
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.header-logo{
    width: 2em;
    height: 2em;
    background-color: grey;
}

.header-languages a{
    color: black;
    text-decoration: none;
}

.footer-container{
    padding: 0 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: turquoise;
    height: 5em;
    position: sticky;
}