<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <title>Document</title>
</head>
<body>
    <h1 th:text="'Doener ' + ${doenerFormular.id} + ' bearbeiten : ' + #{doener.vegetarizitaet.__${doenerFormular.vegetarizitaet}__}"></h1>
    <span th:text="#{doener.vegetarizitaet.__${doenerFormular.vegetarizitaet}__}">...</span>
    <form th:action="@{/doener/{id}(id=${doenerFormular.id})}" method="post" th:object="${doenerFormular}">
        <input type="hidden" th:field="*{version}" />
        <table>
            <tr>
                <td>Bezeichnung</td>
                <td>
                    <label for="bezeichnung"></label>
                    <input type="text" id="bezeichnung" th:field="*{bezeichnung}"> <br>
                </td>
            </tr>
            <tr>
                <td>Preis</td>
                <td>
                    <label for="preis"></label>
                    <input type="number" id="preis" th:field="*{preis}"> <br>
                </td>
            </tr>
            <tr>
                <td>Vegetarizität</td>
                <td>
                    <div th:each="rb, iter : *{ernaerungsAuswahl}">
                        <input type="radio" name="vegetarizitaet" th:field="*{vegetarizitaet}" th:value=${iter.index}>
                        <span th:text="${rb}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Bestand</td>
                <td>
                    <label for="bestand"></label>
                    <input type="number" id="bestand" th:field="*{bestand}"> <br> <!-- th:field kümmert sich um Werte,Bindung und ID/Name-->
                </td>
            </tr>
            <tr>
                <td>
                    Zutaten
                </td>
                <td>
                    <select multiple th:field="*{zutaten}" name="Zutat" id="">
                        <option th:each="zutat : ${alleZutaten}" th:value="${zutat.ean}" th:text="${zutat.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Ausgewählte Zutaten</td>
                <td>
                    <ul>
                        <li th:each="zutat : *{zutaten}" th:text="${zutat.name}">

                        </li>
                    </ul>
                </td>
            </tr>
        </table>
        <button>OK</button>
    </form>
    
</body>
</html>